<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <br>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br>
    <br>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <br>
    <label for="password">Enter password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br>
    <br>
    <ul>
        <li th:each="role : ${listRoles}">
            <input type="checkbox" th:text="${role.authority}" th:field="*{roles}" th:value="${role.id}">
        </li>
    </ul>
    <input type="submit" value="Edit"/>
</form>

</body>
</html>